.projects-container{
    width: 100%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #171717;
}
.projects-container .title{
    padding: 20px 0px;
    font-size: 1.6em;
    color: #fefefe;
    text-shadow: 4px 1px 6px #f378b0;
    letter-spacing: 4px;
}
.projects-container form{
    width: 40%;
    padding: 20px;
    color: #fefefe;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 3px solid #f378b0;
    border-radius: 10px;
    background: #222222;
    box-shadow: 0px 0px 20px #5d5d5d;
}
.projects-container form .input-fields{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.projects-container form .input-fields label{
    width: 40%;
    font-size: 1.2em;
    font-weight: bold;
}
.projects-container form .input-fields .field{
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.projects-container form .input-fields input,
.projects-container form .input-fields textarea{
    width: 100%;
    padding: 6px;
    outline: none;
    border: 3px solid #f378b0;
    border-radius: 4px;
    color: #f378b0;
    font-weight: 600;
}
.projects-container form .input-fields .field p{
    font-size: 0.8em;
    font-weight: 600;
    color: crimson;
}
.projects-container form button{
    margin: 20px auto;
    padding: 10px 40px;
    outline: none;
    border: 2px solid #f378b0;
    border-radius: 4px;
    background: #f378b0;
    color: #fefefe;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}